#swoop
{
  width: 10vw;
  height: 10vh;
  position: absolute;
  top: 40vh;
  left: 40vw;
}
#TaB
{
  position: absolute;
  top: 25vh;
  left: 40vw;
  width: 10vw;
  text-align: center;
  margin-left: 1vw;
  word-wrap: break-word
}
